global:
  scrape_interval: 15s
  evaluation_interval: 15s

scrape_configs:
  - job_name: "prometheus"
    static_configs:
      - targets: ["localhost:9090"]

  - job_name: "node-exporter"
    static_configs:
      - targets:
          - "204.12.221.218:9100"
          - "69.30.252.50:9100"
          - "107.150.57.154:9100"

  - job_name: "cadvisor"
    static_configs:
      - targets:
          - "204.12.221.218:9080"
          - "69.30.252.50:9080"
          - "107.150.57.154:9080"
