version: '3.8'

services:
  snow-victron:
    build: .
    container_name: snow-victron
    restart: unless-stopped
    environment:
      - PORT=3080
      - API_TOKEN=${API_TOKEN:-snow-crystal-victron-2026}
      - DB_PATH=/data/victron.db
      # Matrix alerting
      - MATRIX_HOMESERVER=https://matrix.86hate.com
      - MATRIX_TOKEN=${MATRIX_TOKEN}
      - MATRIX_ROOM_ADAM=!uCPQFzUrGclvjPxKkj:86hate.com
      - MATRIX_ROOM_GIRLFRIEND=${MATRIX_ROOM_GIRLFRIEND:-}
      # Twilio SMS alerting
      - TWILIO_ACCOUNT_SID=REDACTED
      - TWILIO_AUTH_TOKEN=${TWILIO_AUTH_TOKEN:-REDACTED}
      - TWILIO_PHONE=+13215873414
      - SMS_ADAM=+13214270152
      - SMS_GIRLFRIEND=${SMS_GIRLFRIEND:-}
    volumes:
      - ./data:/data
    labels:
      - "traefik.enable=true"
      # Dashboard - snow.86hate.com
      - "traefik.http.routers.snow-dash-http.rule=Host(`snow.86hate.com`)"
      - "traefik.http.routers.snow-dash-http.entrypoints=web"
      - "traefik.http.routers.snow-dash.rule=Host(`snow.86hate.com`)"
      - "traefik.http.routers.snow-dash.entrypoints=websecure"
      - "traefik.http.routers.snow-dash.tls.certresolver=letsencrypt-dns"
      # API/Webhook - datainsnow.86hate.com  
      - "traefik.http.routers.snow-api-http.rule=Host(`datainsnow.86hate.com`)"
      - "traefik.http.routers.snow-api-http.entrypoints=web"
      - "traefik.http.routers.snow-api.rule=Host(`datainsnow.86hate.com`)"
      - "traefik.http.routers.snow-api.entrypoints=websecure"
      - "traefik.http.routers.snow-api.tls.certresolver=letsencrypt-dns"
      - "traefik.http.services.snow-victron.loadbalancer.server.port=3080"
    networks:
      - traefik

networks:
  traefik:
    external: true
